<!-- footer -->

<div class="sticky-bottom">
    <div class="bg-dark">
        <div class="d-flex justify-content-center">
            <a href="/accueil" class="btn btn-primary">Accueil</a>
        </div>
    </div>
</div>
