{{!-- navbar --}}
<nav class="navbar bg-secondary">
    <div class="container">
        <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample">
            Menu
        </a>
        <div class="d-flex justify-content-start">
            <h1 class="navbar-brand" href="#">SaoLim</h1>
        </div>
        <div class="d-flex justify-content-end">
            <a href="/login" class="btn btn-primary">connexion/inscription</a>
        </div>
    </div>
    {{!-- offcanva --}}

    {{!-- inside-boutton --}}
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="container">
                <div class="d-grid gap-3">
                    <a href="/article" class="btn btn-primary col-6">Article</a>
                    <a href="/ecole-du-mans" class="btn btn-primary col-6">Asso du mans</a>
                    <a href="/formulaire" class="btn btn-primary col-6">Formulaire</a>
                </div>
            </div>
        </div>
    </div>
</nav>