<!-- article + photo -->
<div class="container">
        <h1 class="d-flex justify-content-center">Titre</h1>
        <div class="row">
                <div class="col-6">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Ut explicabo expedita ipsam modi maxime, natus consequuntur
                                saepe nihil officia nam non velit, est debitis illum,
                                ex mollitia nostrum similique provident!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Exercitationem consequuntur laudantium, officiis atque quasi
                                pariatur aliquid error optio at, libero quae voluptatibus
                                molestias cumque obcaecati nihil deserunt a esse aliquam!
                        </p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Ut explicabo expedita ipsam modi maxime, natus consequuntur
                                saepe nihil officia nam non velit, est debitis illum,
                                ex mollitia nostrum similique provident!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Exercitationem consequuntur laudantium, officiis atque quasi
                                pariatur aliquid error optio at, libero quae voluptatibus
                                molestias cumque obcaecati nihil deserunt a esse aliquam!
                        </p>
                </div>
                <div class="col-6">
                        <img src="/assets/pics/img1.jpg" class="d-block w-100" alt="">
                </div>
        </div>
        <button class="btn btn-primary" type="submit">Modifier</button>
        <button class="btn btn-primary" type="submit">Suprimer</button>
        <div class="row">
                <div class="col-6">
                        <img src="/assets/pics/img2.jpg" class="d-block w-100" alt="">
                </div>
                <div class="col-6">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Ut explicabo expedita ipsam modi maxime, natus consequuntur
                                saepe nihil officia nam non velit, est debitis illum,
                                ex mollitia nostrum similique provident!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Exercitationem consequuntur laudantium, officiis atque quasi
                                pariatur aliquid error optio at, libero quae voluptatibus
                                molestias cumque obcaecati nihil deserunt a esse aliquam!
                        </p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Ut explicabo expedita ipsam modi maxime, natus consequuntur
                                saepe nihil officia nam non velit, est debitis illum,
                                ex mollitia nostrum similique provident!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Exercitationem consequuntur laudantium, officiis atque quasi
                                pariatur aliquid error optio at, libero quae voluptatibus
                                molestias cumque obcaecati nihil deserunt a esse aliquam!
                        </p>
                </div>
        </div>
        <button class="btn btn-primary" type="submit">Modifier</button>
        <button class="btn btn-primary" type="submit">Suprimer</button>

         <div class="row">
                <div class="col-6">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Ut explicabo expedita ipsam modi maxime, natus consequuntur
                                saepe nihil officia nam non velit, est debitis illum,
                                ex mollitia nostrum similique provident!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Exercitationem consequuntur laudantium, officiis atque quasi
                                pariatur aliquid error optio at, libero quae voluptatibus
                                molestias cumque obcaecati nihil deserunt a esse aliquam!
                        </p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Ut explicabo expedita ipsam modi maxime, natus consequuntur
                                saepe nihil officia nam non velit, est debitis illum,
                                ex mollitia nostrum similique provident!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Exercitationem consequuntur laudantium, officiis atque quasi
                                pariatur aliquid error optio at, libero quae voluptatibus
                                molestias cumque obcaecati nihil deserunt a esse aliquam!
                        </p>
                </div>
                <div class="col-6">
                        <img src="/assets/pics/img3.jpg" class="d-block w-100" alt="">
                </div>
        </div>
        <button class="btn btn-primary" type="submit">Modifier</button>
        <button class="btn btn-primary" type="submit">Suprimer</button>
</div>

<div class="container">
        <div class="d-flex justify-content-center mb-2">
                <button class="btn btn-primary" type="submit">Editer</button>
        </div>
</div>