<div class="container">
    <div class="d-flex justify-content-around">
        <div>Rennes</div>
        <div>Montmorency</div>
        <div> Saint-denis</div>
    </div>
</div>
<img src="/assets/pics/img.jpg" class="d-block w-100" alt="">